# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Allow custom cc toolchains.
build --incompatible_enable_cc_toolchain_resolution
common --experimental_isolated_extension_usages